@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

*{  
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body  {
      background-image: url(../img/fon.jpg);
      background-size: 100% 100%;     
      background-attachment: fixed ;
  }
.skystar
{
      background-image: url(../img/2fon.jpg);
      background-size: 100% 100%;     
      background-attachment: fixed ;
  }

h1    { 
    font-family: 'Caveat', cursive;
    color: purple;
    font-size: 70px;
    text-align: center
      }

h2    { 
    font-family: 'Caveat', cursive;
    color: #312850;
    font-size: 50px;
    text-align: center
      }
      h3    { 
    font-family: 'Caveat', cursive;
    color: purple;
    font-size: 50px;
    text-align: center
      }

h4    { 
    font-family: 'Caveat', cursive;
    color: #312850;
    font-size: 70px;
    text-align: center
      }
      
.main {
  background-color: black;
  display: flex;
  width: 95%;
  max-width: 1000px;
  margin: 10px auto;
  flex-wrap: wrap;
}

.itemphoto{
  max-height: 205px;
  max-width: 490px;
  height: calc(85vw / 2 / 16 * 9);
  width: calc(45vw - 5px);
  background: white;
  margin: 5px;
  background-position:  center;
  background-size:  100%;
  transition: all 0.5s ease-out;
  background-color: black;
}
.itemphoto:hover{
  box-shadow: 3px 3px 50px 1px black;
  transition: all 1.5s ease-out;
    transform: scale(1.1) rotate(3.5deg);
      filter: brightness(1.2);
      filter: saturate(2.2);
}

.img_link{
  display: block;
  opacity: 0.4;
  transition: all 0.7s ease;
}
.img_link:hover {
  opacity: 1;
  transform: scale(1.05) ;
  z-index: 10;

}

@media all and (max-width: 768px){
  .itemphoto{
    max-width: initial;
    max-height: initial;
    width: 85vw;
    height: calc(85vw / 16 * 9 );
  }
  .img_link{
    margin: 5px auto;
  }
}

