@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

*{  
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body  {
      background-image:url(../img/fon.jpg);
      background-size: 100% 100%;     
      background-attachment: fixed ;
  }
.skystar
{
      background-image: url(../img/2fon.jpg);
      background-size: 100% 100%;     
      background-attachment: fixed ;
  }

h1{
  transition: all 0.5s ease;
  text-align: center;
  width: 100%;
  font-weight: bolder;
  font-style: italic;
  font-size: 70px;
  color: darkred;
  padding: 10px 0px;
  text-shadow: 2px 2px 10px 1px black;
}
h1:hover{
  color:white;
  transform:  scale(1.05);
  transition: all 0.3s ease, transform 0.5s ease-in;
  }

h2    { 
    font-family: 'Caveat', cursive;
    color: #312850;
    font-size: 50px;
    text-align: center
      }
      h3    { 
    font-family: 'Caveat', cursive;
    color: purple;
    font-size: 50px;
    text-align: center
      }

h4    { 
    font-family: 'Caveat', cursive;
    color: #312850;
    font-size: 70px;
    text-align: center
      }
      
.main {
  background-color: lightgrey;
  display: flex;
  width: 95%;
  max-width: 1000px;
  margin: 10px auto;
  flex-wrap: wrap;
  Align-items: center;
  Justify-content:center;
}

.itemphoto{
  max-height: 205px;
  max-width: 490px;
  height: calc(85vw / 2 / 16 * 9);
  width: calc(45vw - 5px);
  background: white;
  margin: 5px;
  background-position:  center;
  background-size:  100%;
  transition: all 0.5s ease-out;
  background-color: black;
}
.itemphoto:hover{
  box-shadow: 3px 3px 50px 1px black;
  transition: all 1.5s ease-out;
    transform: scale(1.05) ;
      /*filter: brightness(1.2);
      filter: saturate(2.2);*/
}

.img_link{
  display: block;
  opacity: 0.4;
  transition: all 0.7s ease;
}
.img_link:hover {
  opacity: 1;
  transform: scale(1.05) ;
  z-index: 10;

}

@media all and (max-width: 768px){
  .itemphoto{
    max-width: initial;
    max-height: initial;
    width: 85vw;
    height: calc(85vw / 16 * 9 );
  }
  .img_link{
    margin: 5px auto;
  }
}
.link_wrapper{
  padding: 50px 0;
  display: flex;
  align-items: center;
  align-content: center;

}
.author{
  margin: auto;
  color: black;
  text-decoration: none;
  border-bottom:2px solid transparent;
  transition: 0.5s;
  display: block;
}
.author:hover{
  border-color: black;
